@import 'https://fonts.googleapis.com/css?family=Roboto';
@import '//cloud.typenetwork.com/projects/3098/fontface.css/';

* {
    margin: 0%;
    padding: 0%;
}

body {
    overflow-x: hidden;
    font-family: proxima-soft, sans-serif;
    font-style: normal;
    font-weight: 500;
}

:root {
    --menu-hover-color: lightgray;
    --thick-font: "Proxima Soft Cond Med";
    --thin-font: "Proxima Soft Lt";
}

#header {
    width: 100vw;
    height: 100vh;
    background: url('./img/hero.jpg') no-repeat fixed center center / cover;
    position: relative;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 550;
    padding: 1rem 1.5rem;
    animation: 0.7s ease-in headerAnimation;
}

i.fas, i.fa {
    color: white;
    font-size: 2rem;
}

a:hover {
    color: lightgray !important;
}

#header-text {
    position: absolute;
    top: calc(50% - 5rem);
    left: 30%;
    width: 40%;
    color: #fff;
    text-align: center;
        
    font-family: var(--thick-font);
    font-style: Normal;
    font-weight: normal;
    letter-spacing: 1px;
    /* font-family: 'Roboto', sans-serif; */
}

#header-text h1 {
    font-size: 48px;
    line-height: 53px;
    animation: 1s ease-in headerAnimation;
}

#header-text p {
    margin-top: 2em;
    font-size: 1.4em;
    animation: 1s ease-in headerAnimation;
    animation-delay: 1.1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.btn-custom {
    background: #eaeae9;
    color: black !important;
    margin: 0.9em;
    animation: 1s ease-in headerAnimation;
}

.btn-custom:hover {
    color: black !important;
    opacity: 0.9;
}

#side-nav-bars {
    display: inline-block;
    margin-top: 0.6em;
    animation: 1s ease-in headerAnimation;
}

#side-nav-bars:hover {
    background: var(--menu-hover-color);
    border-radius: 25%; 
}

.navbar-brand {
    animation: 1s ease-in headerAnimation;
}

#startBtn.btn.btn-custom {
    font-size: 1.5em;
    padding: 0.5rem 2rem;
    animation-delay: 2.1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

/* Customer Sections */
#customer-section {
    background: #f5f5f5;
    padding: 5rem;
}

#customer-section > .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
}

/* Content Section */
#content-section {
    padding-top: 8%; 
    padding-bottom: 8%;
}

.content-text {
    padding-left: 30%;
    padding-right: 15%;
}

.content-text h4 {
    font-family: var(--thin-font);
	font-weight: 500;
    font-style: Normal;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #333;
    margin-bottom: 3rem;
    text-align: left;
}

.content-text p {
    font-family: var(--thin-font);
	font-weight: 100;
    font-style: normal;
    color: #777e89;
    font-size: 1.2rem;
    line-height: 36px;
    margin-bottom: 3rem;
    padding-right: 20%;
}

.start-now {
    padding: 0.5rem 2rem;
}

#content-section > .row {
    margin-bottom: 10rem;
}

#content-section > .row:last-child {
    margin-bottom: 1rem;
}

.big-screen {
    display: inline-block;
}

.small-screen {
    display: none;
}

.right-translate-animation {
    animation: 1s ease-in contentRightImage;
}

.left-translate-animation {
    animation: 1s ease-in contentLeftImage;
}

#firstContentImage, #secondContentImage, #thirdContentImage {
    opacity: 0;
    animation-fill-mode: forwards;
}

/* Freetrial Section */

#freetrial-section {
    background: #17ceaf;
    color: #fff;
    padding-top: 8rem;
    padding-bottom: 8rem;
    font-family: var(--thin-font);
    font-weight: 500;
    text-align: center;
}

#freetrial-section h4 {
    font-size: 3rem;
}

#freetrial-section p {
    font-size: 1.4rem;
}

#freetrial-section button.btn.btn-outline-light.start-now {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 550;
}

/* Footer Section */

#footer-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: var(--thin-font);
}

#footer-section h5 {
    font-size: 1.5rem;
    font-weight: 800;
}

#footer-section p {
    font-weight: 500;
}

#footer-section a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

#footer-section a:hover {
    color: black !important;
}

#footer-section ul li {
    list-style: none;
}

#contact-footer p {
    text-align: center;
    font-family: var(--thick-font);
    font-family: 2rem;
    line-height: 2rem;
    letter-spacing: 1px;
}

#contact-footer a {
    font-size: 2rem;
    padding-right: 2rem;
}

#contact-footer a:last-child {
    padding-right: 0rem;
}


/* Animations */
@keyframes headerAnimation {
    0% {
        opacity: 0%;
        transform: translateY(-30px);
    }

    50% {
        opacity: 50%;
    }

    100% {
        visibility: visible;
    }
}

@keyframes contentRightImage {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes contentLeftImage {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
    }
}


/* Media Queries */
@media(min-width: 500px) {
    .navbar-brand {
        padding: 0rem 2rem;
    }

    .firstnav {
        padding-left: 0rem !important;
    }
}

@media(max-width: 500px) {
    .navbar-light .navbar-nav .nav-link {
        text-align: right;
    }

    #header-text {
        width: 100%;
        left: 0%;
    }

    #header-text h1 {
        font-size: 2rem;
    }

    #header-text p {
        font-size: 1em;
    }

    #rightNavbarNav {
        display: none;
    }

    /* Customer Sections */
    #customer-section {
        background: #f5f5f5;
        padding: 1rem;
    }

    #customer-section > .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }

    
    .content-text {
        padding-left: 5%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }

    .big-screen {
        display: none;
    }
    
    .small-screen {
        display: block;
    }

    #content-section > .row {
        margin-bottom: 2rem;
    }

    #footer-section {
        text-align: center;
    }

    #footer-section .col-sm-12,#footer-section .col-xs-12 {
        margin-bottom: 2rem;   
    }
}




